.Alert {
    .alertbox {
        background-color: white;
        border-radius: 50%;
        position: fixed;
        right: 15px;
        top: 15px;
    }

    .alertboxData{
        position: fixed;
        right: 15px;
        top: 50px;
    }
}